<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.topq.mobile.tunnel.application"
    android:sharedUserId="org.topq.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
   
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />    
    <uses-permission android:name="android.permission.INTERNET"/> 	 
    <instrumentation android:targetPackage="com.tal.example.loginapp"
       android:name="org.topq.mobile.robotium.server.RobotiumServerInstrumentation"/> 	       
    
   <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.tal.example.loginapp"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TcpServerActivty"
            android:label="@string/title_activity_tcp_server" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.topq.mobile.robotium.server.RobotiumServerActivity"
            android:label="@string/title_activity_robotium_server">
        </activity>
    </application>

</manifest>